# Node modules
client/node_modules/
server/node_modules/

# Env files
client/.env
server/.env

# Build folders
client/dist/
client/build/
server/dist/

# Logs
*.log
npm-debug.log*

# System files
.DS_Store

# Editor settings
.vscode/
.idea/